header {
  background-color: #d91f06;
  padding: 10px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin-left: 50px;
}

button {
  background-color: #f1f1f1;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}

button:hover {
  background-color: #ddd;
}

.alternaTela {
  margin-right: 30px;
  padding: 20px;
}
