form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 8px;
  color: #333;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
  box-sizing: border-box;
}

input:focus,
select:focus {
  border-color: #024281;
  outline: none;
}

form button {
  background-color: #ffa000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #f08307;
}

.register-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-error {
  border-color: #d91f06;
}

/*mensagem de erro do litro*/
.error-message {
  color: #fff;
  background-color: #d91f06;
  border: 1px solid #d91f06;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
}

.error-message span {
  margin-right: 10px;
}
