/*mensagem de erro do litro*/
.error-message {
  color: #fff;
  background-color: #d32f2f;
  border: 1px solid #d32f2f;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
}

.error-message span {
  margin-right: 10px;
}

/* Estilo para o campo de input com erro */
.input-error {
  border: 2px solid #d32f2f; /* Borda vermelha */
  background-color: #f8d7da; /* Fundo suave para indicar erro */
}

/*estilo geral */

form {
  background-color: #ffffff;
  border: 1px solid #d91f06;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  width: 90%;
  max-width: 400px;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

form input,
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #d32f2f;
  border-radius: 5px;
  box-sizing: border-box;
}

form button {
  background-color: #ffc107;
  color: #212121;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.register-button {
  display: flex;
  justify-content: center;
  width: 100%;
}

form button:hover {
  background-color: #ffa000;
}
