body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #212121;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #d91f06;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  margin: 0;
}

h2 {
  text-align: center;
  padding: 20px 0;
  margin: 0;
}
